*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh


# 不生效 why?
!/preLeanring/**/src/*.c 
!/preLeanring/**/src/*.cpp
!/preLeanring/**/src/*.h
!/preLearning/**/*.md

!/preLearning/learn c the hard way/c-skeleton/src/*.c
!/preLearning/learn c the hard way/src/*.c

!preLearning/verilator/*/*.v
!preLearning/verilator/*/*.cpp/nvboard
